Screen {
    layout: grid;
    grid-size: 2 1;
    grid-columns: 1fr 2fr;
}

#left {
    layout: grid;
    grid-size: 1 4;
    grid-rows: 1fr 1fr 1fr 1fr;
}

LeftListBox {
   height: auto;
}

ListView {
    border: round;
}

ListView:blur ListItem:blur {
    background: transparent;
}

Label {
    padding: 1 2;
}

MarkdownViewer {
    border: round;
}
